 /*
========	Style css	========
*/
 
 header {
     background-image: url();
 }
 body {
     background-color: #F4FAFC;
     padding: 0px 50px 50px 20px;
 }
 .ident {
     padding: 0px 50px 5px 50px;
 }
 /*
========	Font	========
*/
 
 h1 {
     font-family: 'Audiowide';
     color: white;
     border-radius: 12px 0px 200px 0px;
     -moz-border-radius: 12px 0px 200px 0px;
     -webkit-border-radius: 12px 0px 200px 0px;
     border: 6px solid #000000;
     background: #e61c26;
 }
 h2 {
     font-family: Verano;
     font-size: 30px;
 }
 p {
     font-family: Verano;
     font-size: 25px;
     text-decoration: underline;
     padding-left: 37px;
 }