 /*
========	Style css	========
*/
 
 header {
     background-image: url();
 }
 body {
     background-color: #F4FAFC;
     padding: 0px 50px 50px 20px;
 }
 .ident {
     padding: 0px 50px 5px 50px;
 }
a,
footer { 
    text-align: right;
    color: white;
    text-decoration: none;
    padding: 500px 25px 0px 0px;
    top: 50px;
}
button {
     border: 1px solid;
     background: #ffc50b;
     font-family: 'Baloo Bhaina';    
}
 /*
========	Font	========
*/
 
 h1 {
     font-family: 'Audiowide';
     color: white;
     border-radius: 12px 0px 200px 0px;
     -moz-border-radius: 12px 0px 200px 0px;
     -webkit-border-radius: 12px 0px 200px 0px;
     border: 6px solid #000000;
     padding: 0.5px 0px 0.5px 5px; 
     background: #ffc50b;
     font-size: 50px;
 }
 h2 {
     font-family: 'Baloo Bhaina';
     font-size: 35px;
 }
 p {
     font-family: Verano;
     font-size: 25px;
     padding-left: 10px;
}
.ident {
    padding: 25px;
    position: fixed;
}